<header class="game-header">
  <div class="header-left">
    <h1>🏰 {{ title }} - Beta</h1>
  </div>
  <div class="header-right">
    @if(currentUser){
    <div class="user-info">
      @if(currentUser.picture){
        <img  [src]="currentUser.picture" alt="User" class="user-avatar">
      }
      <span class="user-name">{{ currentUser.name }}</span>
    </div>
    }
    <!--<button class="new-game-btn" (click)="onNewGame()">New Game</button>-->
    <button class="sign-out-btn" (click)="onSignOut()">Sign Out</button>
  </div>
</header>
